<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="Autofac.Extras.Quartz" version="4.0.0" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net461" />
  <package id="Quartz" version="3.0.2" targetFramework="net461" />
</packages>